package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.*;
import com.fasterxml.jackson.annotation.JsonIgnore;
import lombok.Data;
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import com.ruoyi.common.annotation.Excel;
#if($table.crud || $table.sub)
import com.ruoyi.common.core.domain.BaseEntity;
#elseif($table.tree)
import com.ruoyi.common.core.domain.TreeEntity;
#end
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.Size;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author 姜彦汐
 * @site https://www.undsky.com
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@Data
@TableName("${tableName}" )
public class ${ClassName} extends ${Entity}
        {
private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        #if(!$table.isSuperColumn($column.javaField))
            #if(!$column.columnComment)
            /** $column.javaField */
            #else
            /** $column.columnComment */
            #end
            #if($column.list)
                #set($parentheseIndex=$column.columnComment.indexOf("（"))
                #if($parentheseIndex != -1)
                    #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                #else
                    #set($comment=$column.columnComment)
                #end
                #if($parentheseIndex != -1)
                @Excel(name = "${comment}" , readConverterExp = "$column.readConverterExp()" )
                #elseif($column.dictType != '')
                @Excel(name = "${comment}" , dictType = "$column.dictType" )
                #elseif($column.javaType == 'Date')
                @JsonFormat(pattern = "yyyy-MM-dd" )
                @Excel(name = "${comment}" , width = 30, dateFormat = "yyyy-MM-dd" )
                #else
                @Excel(name = "${comment}" )
                #end
            #end
            #if($column.javaField == 'id')
            @TableId(type = IdType.AUTO)
            @OrderBy(asc = false, sort = 1)
            #elseif($column.javaField == 'status')
            // 逻辑删除替代物理删除，'0'：正常；'1'：删除
            // @TableLogic(value = "'0'" , delval = "'1'" )
            #elseif($column.javaField == 'tenantId')
            @TableField(value = "tenant_id" , fill = FieldFill.INSERT)
            #else
            @TableField("${column.columnName}" )
            #end
            #if($column.required)
            @NotBlank(message = "${column.columnComment}不能为空")
            #end
            #if($column.columnTypeName == 'varchar')
                #if($column.columnTypeLength && $column.columnTypeLength != '')
            @Size(min = 0, max = ${column.columnTypeLength}, message = "${column.columnComment}长度不能超过${column.columnTypeLength}个字符")
                #end
            #end
        private $column.javaType $column.javaField;
        public static final String $column.javaField.toUpperCase() = "$column.columnName";

        #end
    #end
    #if($table.sub)
    /** $table.subTable.functionName信息 */
    private List<${subClassName}> ${subclassName}List;

    #end
}
